name: Build LaTeX document
on:
  push:
    branches:
      - "master"

    # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  schedule:
    - cron: "0 3 * * 5"

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Make CV
        run: |
          sudo apt update
          sudo apt install -y texlive texlive-lang-czechslovak texlive-science texlive-latex-extra git make texlive-fonts-extra biber
          make -B
      - name: Rename
        run: mv main_en.pdf uradnik_cv_en.pdf && mv main_cz.pdf uradnik_cv_cz.pdf && cp uradnik_cv_en.pdf uradnik_cv.pdf && mv main_publications.pdf uradnik_publications.pdf
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "Automatic Release"
          files: |
            uradnik_cv.pdf
            uradnik_cv_en.pdf
            uradnik_cv_cz.pdf
            uradnik_publications.pdf
